/GlobalBlue_AustriaPurchases.API/obj
/GlobalBlue_AustriaPurchases.API/bin
/GlobalBlue_AustriaPurchases.DomainModel/bin
/GlobalBlue_AustriaPurchases.DomainModel/obj
/GlobalBlue_AustriaPurchases.Test/bin
/GlobalBlue_AustriaPurchases.Test/obj
